* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  background-color: #ececec;
  flex-direction: column;
  gap: 50px;
}

#card {
  display: flex;
  width: 1200px;
  height: 60vh;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  border: 2px solid black;
}

#pp {
  border-right: 3px solid black;
  padding-right: 80px;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pp img {
  border-radius: 100%;
  width: 300px;
}

#infos {
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  width: fit-content;
}

#names {
  display: flex;
  gap: 10px;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
}

.postcodecitybox {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.agebox {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.mailbox {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.placeholders {
  font-size: 25px;
}

.valuesapi {
  font-weight: bold;
  font-size: 30px;
}

button {
  background-color: #232323;
  color: #f5f5f5;
  width: 450px;
  height: 80px;
  border-radius: 10px;
  font-size: 40px;
  font-weight: bold;
  border: none;
}

button:hover {
  background-color: #232323dc;
  cursor: pointer;
}
